/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header, .App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
}

.App-main {
  flex: 1;
  padding: 20px;
}
